{% extends 'avto_tochka/base.html' %}


{% block content %}
<h1>{{title}}</h1>
<!--<p>Телефон: <div class=phone>+7 (924) 841-21-40</div>-->
<div class=phone><a href="tel:+79248412140">Телефон: +7 (924) 841-21-40</a></div>
<p>Наш адрес: Город Благовещенск ул. Театральная 228 Ход с улицы прямо за остановкой ЦЭС.
<p>График работы:
<table border="5">
<!--    <caption>График работы</caption>-->

    <thead>
        <tr>
            <th>День недели</th>
            <th>Время открытия</th>
            <th>Время закрытия </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Понедельник</td>
            <td>9,00</td>
            <td>18,00</td>
        </tr>
        <tr>
            <td>Вторник</td>
            <td>9,00</td>
            <td>18,00</td>
        </tr>
        <tr>
            <td>Среда</td>
            <td>9,00</td>
            <td>18,00</td>
        </tr>
        <tr>
            <td>Четверг</td>
            <td>9,00</td>
            <td>18,00</td>
        </tr>
        <tr>
            <td>Пятница</td>
            <td>9,00</td>
            <td>18,00</td>
        </tr>
        <tr>
            <td>Субота</td>
            <td>9,00</td>
            <td>18,00</td>
        </tr>
        <tr>
            <td>Воскресение</td>
            <td>9,00</td>
            <td>18,00</td>
        </tr>
    </tbody>
<!--    <tfoot></tfoot>-->
</table></p>
{% endblock %}