{% extends 'avto_tochka/base.html' %}


{% block content %}
<h1>{{title}}</h1>
<!--<p>Телефон: <div class=phone>+7 (924) 841-21-40</div>-->
<p><div class=phone><a href="tel:+79248412140">Телефон: 8 (924) 841-21-40</a></div>
<div>
<p>График работы:
<table border="5" width="45%">
<!--    <caption align="center" valign="top">WTF</caption>-->

    <thead>
        <tr align="center">
            <th align="center">День недели</th>
            <th align="center">Время открытия</th>
            <th align="center">Время закрытия </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">Понедельник</td>
            <td align="center">9,00</td>
            <td align="center">18,00</td>
        </tr>
        <tr>
            <td align="center">Вторник</td>
            <td align="center">9,00</td>
            <td align="center">18,00</td>
        </tr>
        <tr>
            <td align="center">Среда</td>
            <td align="center">9,00</td>
            <td align="center">18,00</td>
        </tr>
        <tr>
            <td align="center">Четверг</td>
            <td align="center">9,00</td>
            <td align="center">18,00</td>
        </tr>
        <tr>
            <td align="center">Пятница</td>
            <td align="center">9,00</td>
            <td align="center">18,00</td>
        </tr>
        <tr>
            <td align="center">Субота</td>
            <td align="center">9,00</td>
            <td align="center">18,00</td>
        </tr>
        <tr>
            <td align="center">Воскресение</td>
            <td align="center">9,00</td>
            <td align="center">18,00</td>
        </tr>
    </tbody>
<!--    <tfoot></tfoot>-->
</table>
</div>
<br>
<div>
    <p>Наш адрес: Город Благовещенск ул. Театральная 228 Ход с улицы прямо за остановкой ЦЭС.

    <p><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09e11344b134ef0675594174379f4dc8b6c355f3503a710c9f6d7909b267b206&amp;width=667&amp;height=521&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{% endblock %}