{% extends 'avto_tochka/base.html' %}
{% load static account socialaccount %}

{% block content %}
<h1>{{service.title}}</h1>

{% if service.photo %}
<p><img class="img-article-left" src="{{service.photo.url}}"></p>
{% endif %}
<h3>Цена от {{service.price}} рублей </h3>

{{service.content|linebreaks}}

<hr>
<p>Комментарии:</p>
<ul>
{% for item in service.comments_service.all %}
        <br>
        {% if item.status is True %}
            <li>Добавлено: {{ item.created }} <br></li>
            <li>Пользователь: {{ item.user }} <br></li>
            <li>{{ item.text }} <br></li>
        {% else %}
            <li>Спасибо {{ item.user }} что оставили комментарий! Комментарий будет добавлен после модераци.</li>
        {% endif %}

{% endfor %}
</ul>


<hr>
<p>Добавить комментарий</p>

<!--{% if messages %}-->
<!--<div class="alert.alert-success">-->
<!--    {% for m in messages %}-->
<!--    {{ m }}-->
<!--    {% endfor %}-->
<!--</div>-->
<!--{% endif %}-->

{% if request.user.is_authenticated %}
<div class="col-4" align="left">
    <form action="" id="add_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
        <button form="add_form" type="submit" class="btn.btn-primary" align="left"> Добавить комментрарий </button>
</div>
{% else %}
<div>
    <li class="last">  <a href="{% provider_login_url 'google' %}">Войдите в свой Google аккаунт чтобы написать комментарии.</a></li>
    <li class="last">  <a href="{% url 'login' %}">Войдите в свой аккаунт чтобы написать комментарии.</a></li>
    <li class="last">  <a href="{% url 'register' %}">Или создать свой аккаунт чтобы написать комментарии.</a></li>
</div>
{% endif %}

{% endblock %}